*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.button {
  display: block;
  border: 1px solid #fff;
  padding: 6px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label:not(:has(.search-form__textfield)):hover,
.content__card-link:hover,
.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label *:focus,
.search-form__label *:active,
.content__card-link:focus,
.button:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.content__card-link:focus-visible,
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item:has(.content__card-link:focus-visible) {
  padding: 0 3px;
}
.content__list-item:first-child:has(.content__card-link:focus-visible) {
  padding: 3px 3px 0;
}

.button:active,
.content__card-link:active {
  background-color: #545050;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__textfield {
  min-width: 225px;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  width: fit-content;
  padding-right: 14px;
  color: rgb(255 255 255 / 0.7);
}

.search-form__submit-button {
  align-self: self-end;
  width: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  min-width: 0;
  height: 100%;
}

.title {
  display: inline;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  width: 100%;
}

.content__video-card-title {
  margin-bottom: 6px;
  overflow: hidden;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 110%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
